<center><h2><%= "#{@merchant.name} Discounts" %></center>

<div id="discounts">
  <% @discounts.each do |discount| %>
    <div id="discounts-<%= discount.id %>">
    <h3>
    <%= "This Discount Gives #{discount.percent_off}% off if the customer buys #{discount.threshold} items" %>
    <%= link_to "Details", merchant_bulk_discount_path(@merchant.id, discount.id) %>
    </h3>
    </div>
    <br>
    
  <% end %>



</div>
